# ignore system & cache files
.DS_Store
__pycache__/
*.pyc


# ignore the  map file
*.tif

# ignore survey data
*.csv
*.xlsx

# ignore venv
venv/
.venv/

# exceptions
!sources/answer_key_template.csv
